<div class="row mt-5">
  <div class="col col-5 hvr-grow">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">


      <div class="carousel-item" data-bs-interval="10000">
        <img src="https://i.ibb.co/52q1Kq1/pexels-karolina-grabowska-5632381.jpg" class="d-block w-100" alt="...">
        <div class="text-block " style="font-size: 40px;" >
          <p  > عشان توفري وقتك و تلحقي كل العروض..</p>
          <h4>Real Deal لتجربه تسوق آفضل</h4>
         </div>
     
      </div>


      <div class="carousel-item active " data-bs-interval="10000">
        <img src="https://i.ibb.co/KzJ48vy/pexels-tima-miroshnichenko-7879975.jpg" class="d-block w-100" alt="...">
        <div class="text-block">
          <p>  بنجيبلك عروض السوبرماركت</p>
        </div>
      </div>

      
      <div class="carousel-item " data-bs-interval="1000">
        <img src="https://i.ibb.co/F7sqfVF/pexels-cottonbro-4107305.jpg" class="d-block w-100" alt="...">
        <div class="text-block">
        <p  > بنجيبلك عروض الآجهزه الكهربيه </p>
       </div>
      </div>

   
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<!-- //////////////// -->

  </div>
  <div class="col col-3 hvr-pop" style="
  height: 403px;background-repeat: no-repeat;
  background-image:url(  https://i.ibb.co/DYHMF1q/pexels-monstera-7691089.jpg
)" >
<button style="border:none" class="branch" routerLink="/fashion">Fashion</button>

  </div>
  <div class=" col col-3 hvr-grow" >
    <p class="branch">Makup & Beauty</p>
    <img style="height: 400px;
width: 480px;" src="https://i.ibb.co/6shqxX1/pexels-shiny-diamond-3373738.jpg">
  </div>
</div>

  <div class="container ">
    <div class="row hvr-grow">
      <div class="last col-4">
        <p class="branch">Houshold Products</p>

        <img src="https://i.ibb.co/jh26K4X/pexels-anna-shvets-5218015-1.jpg"
        style="height: 570px;width: 456px;"
        >
      </div>
       
      </div>
    </div>

    <div class="row row-cols-4 hvr-grow">
      <div  class="col right" style="width: 485px;
  ; background-image:url(https://i.ibb.co/GdK1HCR/pexels-photo-8148587.jpg)">
  <p class="branch">Accesories</p>
  </div>
    </div>

   <div class="container">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="row">
    <div class="col-md-8" style="background-color: #fdcb41;width: 1255px;
    height: 300px;">
  <div class="container logos">
  <p class="logos" > عروض و خصومات من مواقع و تطبيقات </p>
<div style="border-radius: 50%;">
<img src="https://i.ibb.co/BKS9tt4/294695-amazon-icon.png">
<img style="width: 120px;" src="https://i.ibb.co/yhrptgf/carrefour-logo-vector.png">
<img style="width: 170px;height: 130px;" src="https://i.ibb.co/jJHDCyS/Noon-F-1.jpg">
<img style="width: 140px;height: 130px;" src="https://i.ibb.co/0yY8y9R/download.png
">
<img style="width: 170px;height: 130px;" src="https://i.ibb.co/XZNBq2P/download-1.png
">


</div>

  </div>  
  
  </div>
  </div>