<div class="container">
  <div class="row mt-3 " style="padding: 70px;height: 800px;">
    <div  style="background-color: rgb(247, 247, 247);" class="col-6">
      <h1 class="mt-5" style="font-family: CAIRO;font-size: 50PX;">ABOUT US</h1>
      <p class="mt-5" style="font: 20px black; font-family: cairo;">
        Lorem ipsum dolor sit amet consectetur adipisicing Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa illo dignissimos blanditiis. Fugiat saepe commodi molestias nostrum ipsa et amet, quo quibusdam neque rem, non necessitatibus eum vitae dignissimos officia?
        elit. Hic adipisci voluptates Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, in! Laborum totam aut corporis adipisci obcaecati ea laboriosam quo illum explicabo hic, officiis sint, enim consequuntur ipsum placeat odio atque?
        ullam magnam deserunt mollitia ex sed delectus architecto modi nam quo, ipsa asperiores exercitationem voluptatum dignissimos quod perferendis aliquid.
      </p>
    </div>


    <div style="background-color: rgb(235, 233, 231);" class="col-6">
      <div  style=
     "height: 200px;">
<img  style=
"height: 400px;width: 550px;margin-top: 100px"  src="https://i.ibb.co/Qp3hT3h/White-Green-Minimalist-Dekstop-Wallpaper.png">
      </div>
    </div>
  </div>
</div>